{% extends 'base.html' %}
{% block content %}
    <br>
<div class="row">
    
    <div class="col-md-12">
        <hr>
        <h1>This project will show functionality in console.</h1>
        <p>After downloading from <a href="https://github.com/md-abdul-alim/django-signals-1" target="_blank" >github</a>. First create virtual environment.Then create a superuser. Now login <a href="http://127.0.0.1:8000/admin/">LOGIN</a> and add Buyers->Cars->Order->Sales. Follow the youtube link for more details.</p>
        
    </div>

</div>
{% endblock %}